@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
         url("../../assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Roboto - Bold */
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
         url("../../assets/fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Roboto - Italic */
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Italic.woff2") format("woff2"),
         url("../../assets/fonts/Roboto-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/* Roboto - Bold Italic */
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
         url("../../assets/fonts/Roboto-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}